{% extends "justbootstrap.html" %} #the html page that only includes bootstrap and js cdns
{% load static %}
{% load humanize %}
{% block content%}
<div class='card mt-5 container'>
    <i class="text-center bi {{icon}}" style="font-size: 4rem;"></i>
    
    <div class="m-5">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="row" id="toappend">  
                {% load crispy_forms_tags %}
                {{ form.code|as_crispy_field }}
                {{ form.status|as_crispy_field }}
                {{ form.customer|as_crispy_field }}
                {{ form.date|as_crispy_field }}
                {{ form.discountprice|as_crispy_field }}
                {{ form.type|as_crispy_field }}           
            </div>          
            <div class="mb-3 d-flex justify-content-center">
                <input class="btn btn-outline-success" style="margin: 0 1em 0 1em; width: 40%" type="submit"
                    value="ثبت کردن" name="create-invoice">
            </div>                 
        </form>
    </div>  
</div> 

<div class="my-1" style="border: 2px solid; font-size:13px;" >
    <div class="card border-dark" id="printableArea">
        <div class="">
            <div class="card-body">
              <h5 class="card-title text-center" style="color: #000000;">{{value}}</h5>
              <hr>
              <ul class="list-unstyled">
                <li class="text-black" style="color: #000000;">مشتری/مکانیک :{% if invoice.customer %}{{invoice.customer.name}}{% endif %}</li>
                <li class="text-black" style="color: #000000;">شماره تماس : {% if invoice.customer.phone %}{{invoice.customer.phone}}{% endif %}</li>
                <li class="mt-1" style="color: #000000;"><span class="text-black"> تاریخ : </span>{{invoice.date|date:'Y/m/d'}}</li>
                <li class="mt-1" style="color: #000000;"><span class="text-black">کد فاکتور : </span>{{invoice.code}}</li>
              </ul>
            </div>
            <div class="">
                <table class="table mb-0 table-sm table-bordered border-dark" style="color: #000000;">
                  <thead>
                    <tr>
                      <th style="color: #000000;" >خدمات</th>
                      <th class="text-center" style="color: #000000;" >تعداد</th>
                      <th class="text-center" style="color: #000000;">مبلغ واحد</th>
                      <th class="text-center" style="color: #000000;">مبلغ کل</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in  invoice_detail %}
                    <tr>
                      <td style="color: #000000;" >{{i.item.name}}</td>
                      <td class="text-center" style="color: #000000;">{{i.amount}}</td>
                      <td class="text-center" style="color: #000000;">{{i.item.price|intcomma}} تومان</td>
                      <td class="text-center" style="color: #000000;">{{i.get_total_bill|intcomma}} تومان</td>
                    </tr>
                    {% endfor %}
                    <tr>
                      <td colspan="4">
                        <table class="table mb-0 table-borderless">
                          <tr>
                            <td style="color: #000000;">جمع :</td>
                            <td style="color: #000000;"></td>
                            <td style="color: #000000;">{{prices|intcomma}} تومان</td>
                          <tr>
                        </table>
                      </td>
                    </tr>
                  </tbody> 
                </table>
                <table class="table table-bordered border">
                  <tbody>                  
                    <tr>
                      <td style="color: #000000;">+ 9% ارزش افزوده مالیات  :</td>
                      <td style="color: #000000;">{{taxprice|intcomma}} تومان</td>
                    </tr>
                    {% if invoice.discountprice %}
                    <tr>
                      <td style="color: #000000;">تخفیف :</td>
                      <td style="color: #000000;">{{discountprice|intcomma}} تومان</td>
                    </tr>
                    {% endif %}
                    <tr>
                      <td style="color: #000000;">مبلغ قابل پرداخت :</td>
                      <td style="color: #000000;">{{finalprice|intcomma}} تومان</td>
                    </tr>
                    <tr>
                      <td style="color: #000000;">وضعیت پرداخت : </td>
                      <td style="color: #000000;">
                        {% if invoice.status == 'u' %}
                        پرداخت نشده    
                        {% else %}   
                        پرداخت شده 
                        {% endif %}  
                      </td style="color: #000000;">
                    </tr>
                  </tbody>  
                </table>              
            </div>
              
            <div class="card-body">
              <p class="card-subtitle" > شماره کارت بانک پاسارگاد  به نام  شهرود سفری</p>
              <p class="card-subtitle" >5022-1913-1652-1382</p>
              <p class="card-subtitle my-2">آدرس : میدان امام خمینی جنب بهداشت مرکزی</p>
              <p class="card-subtitle my-2">شماره تماس : ۰۹۱۴۴۹۱۸۷۳۱ / ۰۴۱۴۲۲۶۵۳۶۱</p>
              <p class="card-subtitle text-center my-2 text-black" style="font-size:15px; color: #000000;">با تشکر از حسن انتخاب شما</p>
            </div>
          </div>
    </div>

    

</div>
     

<style type="text/css">
  @media print {
      #printbtn {
          display :  none;
      }
      
  }
  table ,th, td, {
   
    color: #000000;
  }

  
  </style>
  
{% endblock %}
