<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">عنوان</th>
        <th scope="col">ویرایش</th>
        <th scope="col">حذف</th>
      </tr>
    </thead>
    <tbody>
        {% for category in context %}
        <tr>                                                    
            <th scope="row">-</th>
            <td>{{category.name}}</td>           
            <td><a href="/dashboard/update/categories/{{category.id}}" class="btn"><i class="bi bi-pencil-square"></i></a></td>       
            <td><a href="/deactive/customer/{{category.id}}" class="btn"><i class="bi bi-trash3-fill"></i></a></td>       
        </tr>
        {% endfor %}   
    </tbody>
</table>