{% load humanize %}

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">کد</th>
        <th scope="col">عنوان</th>
        <th scope="col">قیمت</th>
        <th scope="col">موجودی</th>
        <th scope="col">ویرایش</th>
        <th scope="col">حذف</th>
      </tr>
    </thead>
    <tbody>
        {% for product in context %}
        <tr>                                                 
            <th scope="row">-</th>
            <td>{{product.id}}</td>              
            <td>{{product.name}}</td>
            <td>{{product.price|intcomma}}</td>              
            <td>{{product.qty}}</td>              
            <td><a href="/dashboard/update/products/{{product.id}}" class="btn"><i class="bi bi-pencil-square"></i></a></td>       
            <td><a href="/dashboard/deactivate/products/{{product.id}}" class="btn"><i class="bi bi-trash3-fill"></i></a></td>       
        </tr>
        {% endfor %}   
    </tbody>
</table>