@font-face {
    font-family: 'yekan';
    src: url('../fonts/Yekan.ttf') format("truetype");
}

body {
    font-family: 'yekan';
}

@media print {
    #printPageButton {
      display: none;
    }
  }