<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}سیستم مدیریتی ciwi کیوی{% endblock %}

{% block content %}
<div class="d-flex align-items-center justify-content-center m-5">
  <div class="col-md-6 col-lg-4 mx-2">
    <div class="card text-center">
      <div class="card-body">
        <a class="btn btn-danger btn-lg my-5" href="#">داشبورد مدیریتی لوازم یدکی مکانیک کالا</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 mx-2">
    <div class="card text-center">
      <div class="card-body">
        <a class="btn btn-primary btn-lg my-5" href="#">داشبورد مدیریتی کارگاه تراشکاری</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}