{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container my-5">
    <div class="card">
        <i class="bi bi-receipt text-center " style="font-size: 4rem;"></i>
        <h3 class="card-title pt-2 text-center">فاکتور</h3>
        <div class="card-body text-center">
            <a href="../lists/invoice-mechanickala/" class="card-link btn btn-lg btn-primary"><i class="bi bi-receipt-cutoff" style="font-size: 2rem;"></i>   مشاهده لیست فاکتور</a>
            <a href="create/invoice/" class="card-link btn btn-lg btn-success"><i class="bi bi-file-earmark-plus" style="font-size: 2rem;"></i> اضافه کردن فاکتور جدید</a> 
        </div>
        <h5 class="card-text p-2"> فاکتور های اخیر:</h5>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">کد فاکتور</th>
                <th scope="col">مشتری</th>
                <th scope="col">وضعیت پرداخت</th>
                <th scope="col">جزییات</th>
                <th scope="col">چاپ</th>
              </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                    {% if invoice.status == 'u' %}
                        <tr class="table-danger">
                    {% else %}
                        <tr class="table-success">      
                    {% endif %}        
                            <th scope="row">-</th>
                            <td>{{invoice.code}}</td>       
                            <td>{{invoice.customer}}</td>      
                            <td>
                                {% if invoice.status == 'u' %}
                                    پرداخت نشده
                                {% else %}   
                                    پرداخت شده 
                                {% endif %}    
                            </td>       
                            <td><a href="details/invoice/{{invoice.id}}" class="btn"><i class="bi bi-exclamation-square-fill"></i></a></td>       
                            <td><a href="invoice/pdf/{{invoice.id}}" class="btn"><i class="bi bi-printer-fill"></i></a></td>       
                        </tr>   
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="container my-5 ">
    <div class="row row-cols-1 row-cols-md-3 g-4"> 
        <div class="col">
          <div class="card">
            <i class="p-2 bi bi-person-fill" style="font-size: 4rem;"></i>
            <div class="card-body">
              <h4 class="card-title"> مشتری</h4>
                <ul class="list-group list-group-flush">
                    {% for customer in customers %}
                        <li class="list-group-item">{{customer.name}} - {{customer.phone}}</li>
                    {% endfor %}
                </ul>
                <div class="card-body">
                    <a href="../lists/customer-mechanickala/" class="card-link btn btn-outline-primary">مشاهده همه</a>
                    <a href="../create/customers/" class="card-link btn btn-outline-success"> + اضافه کردن مشتری</a>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <i class="p-2 bi bi-box-seam-fill" style="font-size: 4rem;"></i>
            <div class="card-body">
              <h4 class="card-title"> کالاها</h4>
                <ul class="list-group list-group-flush">
                    {% for product in products %}
                        <li class="list-group-item">{{product.name}}</li>
                    {% endfor %}
                </ul>
                <div class="card-body">
                    <a href="../lists/products/" class="card-link btn btn-outline-primary">مشاهده همه</a>
                    <a href="../create/products/" class="card-link btn btn-outline-success"> + اضافه کردن کالا</a>
                </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <i class="p-2 bi bi-bookmark-check" style="font-size: 4rem;"></i>
            <div class="card-body">
              <h4 class="card-title"> دسته بندی ها</h4>
                <ul class="list-group list-group-flush">
                    {% for category in categories %}
                        <li class="list-group-item">{{category.name}}</li>
                    {% endfor %}
                </ul>
                <div class="card-body">
                    <a href="../lists/categories/" class="card-link btn btn-outline-primary">مشاهده همه</a>
                    <a href="../create/categories/" class="card-link btn btn-outline-success"> + اضافه کردن دسته بندی</a>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock content %}

